{% extends 'base.html' %}

{% load static %}

{% block title %}
<title>Beauty Cuty - Registration</title>
{% endblock %}

{% block content %}
  {% if form.error %}
    <p>Error from!</p>
  {% endif %}
    <h1>Регистрация</h1>
    <form action="{% url 'registration' %}" method=POST>
      <div class="form-group">
        {% csrf_token %}
        {{ form.as_p }}
        <br>
        <button class="popup__btn authPopup__btn" type="submit">Зарегистрироваться</button>
      </div>
    </form>
{% endblock %}
