{% extends 'base.html' %}

{% load static %}

{% block title %}
<title>Beauty City - Service final</title>
{% endblock %}

{% block content %}
<section id="serviceFinally">
  <div class="container">
    <div class="serviceFinally">
      <div class="row">
        <div class="col-md-6 col-lg-6">
          <div class="breadCrumbs">
            <a href="{% url 'main-view' %}" class="breadCrumbs__item">На главную</a>
          </div>
          <div class="service__block">
            <h1 class="service__title">Запись на услугу</h1>
          </div>

          <form action="{% url 'service_finally' %}" class="serviceFinally__form" method="post">
            {% csrf_token %}
            <div class="serviceFinally__form_block">
              <div class="serviceFinally__form_header fic">
                <span class="serviceFinally__form_header__number" data-pk="{{ note.pk }}">Запись №{{ note.pk }}</span>
                <div class="serviceFinally__form_header__item fic">
                  <div class="serviceFinally__form_header__service">{{ note.saloon.name }}</div>
                  <div class="serviceFinally__form_header__address">{{ note.saloon.address }}</div>
                </div>
              </div>
              <div class="serviceFinally__form_content">
                <div class="serviceFinally__form_content__block fic">
                  <div class="serviceFinally__form_content__title">{{ note.service.name }}</div>
                  <div class="serviceFinally__form_content__price">{{ note.price }} ₽</div>
                </div>
                <div class="serviceFinally__form_content__block fic">
                  <div class="serviceFinally__form_content__items fic">
                    <img src="{{ note.master.avatar.url }}" alt="avatar" class="accordion__block_img">
                    <div class="accordion__block_master">{{ note.master.full_name }}</div>
                  </div>
                  <div class="serviceFinally__form_content__item fic">
                    <div class="serviceFinally__form_content__time">{{ note.stime }}</div>
                    <div class="serviceFinally__form_content__date">{{ note.date }}</div>
                  </div>
                </div>

              </div>
            </div>
            <button type="submit" class="serviceFinallys__form_btn">Записаться</button>
            <button type="button" class="serviceFinallys__form_back" onclick="location.href='{% url 'service' %}'">
              Назад
            </button>
        </div>
        <div class="col-md-12 col-lg-5">
          <img src="{% static 'img/bannerImg.svg' %}" alt="bannerImg" class="banner__img">
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
