{% extends 'base.html' %}

{% load static %}

{% block title %}
<title>Beauty City - Service</title>
{% endblock %}

{% block header_service_js %}
<link rel="stylesheet" href="{% static 'css/air-datepicker.css' %}">
<script src="{% static 'js/air-datepicker.js' %}"></script>
{% endblock %}

{% block body_classes %}
class="servicePage"
{% endblock %}

{% block content %}
<section id="service">
  <div class="container">
    <div class="service">
      <div class="breadCrumbs">
        <a href="{% url 'main-view'%}" class="breadCrumbs__item">На главную</a>
      </div>
      <div class="service__block">
        <h1 class="service__title">Запись на услугу</h1>
        <a href="tel:+79179023800">
          <button class="service__btn btn">Запись по телефону</button>
        </a>
      </div>

      <form action="#" class="service__form">
        <div class="service__form_block service__salons">
          <button class="accordion">(Выберите салон)</button>
          <div class="panel">
          </div>
        </div>
        <div class="service__form_block service__services">
          <button class="accordion" data-pk="0">(Выберите услугу)</button>
          <div class="panel">
          </div>
        </div>
        <div class="service__form_block service__masters">
          <button class="accordion">(Выберите мастера)</button>
          <div class="panel">
          </div>
        </div>

      </form>
    </div>
  </div>
</section>
<section id="time">
  <div class="container">
    <div class="time">
      <h2 class="time__title">Выберите время</h2>
      <div class="time__block">
        <div class="row">
          <div class="col-md-4">
            <div id="datepickerHere"></div>
          </div>
          <div class="col-md-8">
            <div class="time__elems">
              <div class="time__items">
                <div class="time__elems_intro">Утро</div>
                <div class="time__elems_elem fic">
                </div>
              </div>
              <div class="time__items">
                <div class="time__elems_intro">День</div>
                <div class="time__elems_elem fic">
                </div>
              </div>
              <div class="time__items">
                <div class="time__elems_intro">Вечер</div>
                <div class="time__elems_elem fic">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="time__btns">
        <div class="row">
          <div class="col-md-12">
            {% csrf_token %}
            <button class="time__btns_next">Далее</button>
            <button class="time__btns_home">На главную</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}

{% block js_service %}
<script src="{% static 'js/main.js' %}"></script>
{% endblock %}
